.admin {
    width: 80%;
    margin: 0 auto;
    font-family: "Inika", serif;
    color: #8b7969;
}

h2 {
    margin: 0;
}

.title {
    margin: 0 auto;
    padding: 35px 0;
    text-align: center;
    font-size: 35px;
    font-weight: normal;
}

.group {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.txt {
    width: 30%;
    font-size: 16px;
    color: #beb1a6;
    border: 1px solid #e3ded9;
    background-color: #fbfbfb;
    padding-left: 20px;
}

.gender {
    width: 10%;
    font-size: 17px;
    color: #8b7969;
    border: 1px solid #e3ded9;
    background-color: #f4f4f4;
    padding-left: 20px;
}

.category {
    width: 20%;
    font-size: 17px;
    color: #8b7969;
    border: 1px solid #e3ded9;
    background-color: #f4f4f4;
    padding-left: 20px;
}

.date {
    width: 15%;
    font-size: 17px;
    color: #8b7969;
    border: 1px solid #e3ded9;
    background-color: #f4f4f4;
    padding-left: 20px;
}

.btn {
    color: #ffffff;
    padding: 8px;
    width: 10%;
    border: none;
    font-size: 18px;
}

.search {
    background-color: #82756a;
}

.reset {
    background-color: #d9c6b5;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.export {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.export-btn {
    width: 13%;
    height: 39px;
    background-color: #e1dbd699;
    font-size: 18px;
    color: #8b7969;
    border: none;
}

.list-table,
.list-th,
.list-td {
    border-bottom: 1px solid #e0dfde;
    border-collapse: collapse;
    text-align: left;
    font-size: 20px;
    padding: 20px 20px 20px 40px;
}

.list-table {
    width: 100%;
    margin: 30px 0;
    border-right: 1px solid #e0dfde;
    border-left: 1px solid #e0dfde;
}

.list-th {
    background-color: #8b7969;
    color: #ffffff;
}

.detail-btn {
    width: 79px;
    height: 39px;
    border: 1px solid #d9c6b599;
    background-color: #f4f4f44d;
    font-size: 18px;
    color: #d9c6b5;
}

/* モーダル */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #ffffff;
    width: 53%;
    height: 858px;
    margin: 5% auto;
    padding: 100px 50px 50px;
    text-align: center;
    border: 1px solid #8b7969;
    box-shadow: 4px 4px 4px #8b796940;
    position: relative;
}

.modal-cancel-btn {
    background-color: #ffffff;
    border: 1px solid #8b7969;
    border-radius: 20px;
    color: #8b7969;
    font-size: 30px;
    font-weight: normal;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 35px;
    top: 35px;
}

.modal-table,
.modal-th,
.modal-td {
    text-align: left;
    font-size: 20px;
    padding: 20px 20px 20px 40px;
}

.modal-table {
    margin-bottom: 30px;
}

.modal-th {
    color: #8b7969;
}

.modal-delete-btn {
    background-color: #ba370d;
}

/* ページネーション */

/* 非表示にするため、属性セレクターを使い、完全一致でクラスを持つ要素のみ対象とする */
/* Showing results*/
[class="text-sm text-gray-700 leading-5"] {
    display: none;
}

/* << 前, 次 >> */
[class="flex justify-between flex-1 sm:hidden"] {
    display: none;
}

/* 全体 */
[class="relative z-0 inline-flex shadow-sm rounded-md"] {
    display: flex;
    text-align: center;
    align-items: center;
}

/* 選択 */
.pagination-wrapper span span span {
    background-color: #8b7969;
    color: #ffffff;
    border: 1px solid #e0dfde;
    width: 39px;
    height: 39px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 未選択 */
.pagination-wrapper a {
    background-color: #ffffff;
    color: #8b7969;
    border: 1px solid #e0dfde;
    width: 39px;
    height: 39px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*paginateメソッドの矢印*/
svg.w-5.h-5 {
    width: 39px;
    height: 39px;
    background-color: #ffffff;
    color: #8b7969;
    border: 1px solid #e0dfde;
}
