p {
    margin: 0;
}

body {
    height: 100vh;
}

main {
    height: 90vh;
}

.header {
    border-bottom: 1px solid #e0dfde;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.header-blank {
    width: 20%;
}

.header-inner {
    margin: 0 auto;
    font-size: 40px;
    font-family: "Inika", serif;
    color: #8b7969;
}

.header-form {
    width: 20%;
    text-align: center;
}

.form-btn {
    background-color: #f0f0f099;
    border: 1px solid #d9c6b5;
    color: #d9c6b5;
    font-size: 20px;
    padding: 8px 16px;
    margin: 0 auto;
    width: 40%;
}

/* レスポンシブデザイン */
@media screen and (max-width: 1300px) {
    .header-blank {
        display: none;
    }

    .header-inner {
        margin: 0;
        padding: 0 40px;
    }

    .header-form {
        width: 30%;
    }

    .form-btn {
        font-size: 25px;
        padding: 16px;
        width: 50%;
    }
}

@media screen and (max-width: 850px) {
    .header-form {
        width: 40%;
    }
}
