.register-content {
    width: 50%;
    margin: 0 auto;
    font-family: "Inika", serif;
    color: #8b7969;
}

.register {
    background-color: #f1ece7;
    height: 100%;
}

h2 {
    margin: 0;
}

.title {
    margin: 0 auto;
    padding: 35px 0;
    text-align: center;
    font-size: 35px;
    font-weight: normal;
}

.register-form {
    border: 1px solid #c5b9b0;
    border-radius: 10px;
    height: auto;
    padding: 40px 0;
    background-color: #ffffff;
}

.register-txt-group {
    width: 70%;
    margin: 0 auto;
}

.group {
    margin-top: 60px;
}

.group-item {
    font-size: 25px;
}

.txt {
    width: 100%;
    height: 55px;
    background-color: #f4f4f4;
    border: none;
    color: #beb1a6;
    padding: 0 20px;
    font-size: 14px;
}

.error {
    color: #d7003a;
    margin-top: 10px;
}

.btn {
    display: block;
    background-color: #82756a;
    color: #ffffff;
    margin: 70px auto 0;
    padding: 8px;
    width: 20%;
    border: none;
    font-size: 20px;
}

/* レスポンシブデザイン */
@media screen and (max-width: 1100px) {
    .register-content {
        width: 90%;
    }

    .register-txt-group {
        width: 80%;
    }

    .group {
        margin-top: 45px;
    }

    .txt {
        height: 60px;
        font-size: 20px;
    }

    .error {
        font-size: 20px;
    }

    .btn {
        margin: 50px auto 0;
        width: 80%;
        padding: 20px;
    }
}
